@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');


.navbar {
    background-color: #0a0a0a;
    padding: 10px;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

   
  }
  
  .navbar-item {
    color: white;
    padding: 10px;
    font-family: "Roboto Mono", monospace;

    
  }
  .navbar-item:hover {
    color: #ffe656;
  }
  
  /* Media query for mobile view */
  @media (max-width: 768px) {
    .navbar-list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  

  @media(max-width: 767px) {
     .navbar-list {
      flex-direction: row;
     }
  }