/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/components/Smiley/smiley.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.AboutSection {
    height: 60vh;
    background-color: black;
    margin: 0;
    padding: 0;

}


.AboutContent {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
}

.smile-image {
    height: 400px;
    width: auto;
    animation: planet 5s infinite ease-in-out;
    
}

.head {
    font-size: 4rem;
    color: white;
    font-family: "Inter", sans-serif;
}

@keyframes planet {
 0%, 100% {
        transform: translate(0, 0) rotate(-40deg);
    } 
 /* 50% {
     transform: translate(0, 30px) rotate(-20deg);
 } */
 50% {
    transform: translate(200px, 0) rotate(60deg);
}
}

.box1 {
    height: 150px;
    width: 300px;
    background-color: #0a0a0a;
    border-radius: 20px;
    position: relative;
    right: 300px;
    display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Inter", sans-serif;
   
}

.box2 {
    height: 150px;
    width: 300px;
    background-color: #0a0a0a;
    border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Inter", sans-serif;
   position: relative;
    right: 200px;
   
}
 
.boxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    color: white;
}

span {
    color: yellow;
}

@media(max-width: 767px) {
    .head {
        font-size: 1.2rem;
    }

    .AboutContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .AboutSection {
        flex-direction: column;
        justify-content: center;
       align-items: center;
    }

    .smile-image {
        height: 180px;
        width: auto;
        position: relative;
        left: -20px;
        
        
    }

    .boxes {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        gap: 20px;
        color: white;
    }

    .box1 {
        height: 100px;
        width: 150px;
        right: 0;
        font-size: 0.7rem;
        text-align: center;
    }
    .box2 {
        height: 100px;
        width: 150px;
        font-size: 0.7rem;
        right: 0;
        text-align: center;
    }

    .image-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

  
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/components/navbar/navbar.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #050100;
}

/* Navbar Styles */
.navbar {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1050px;
  padding: 0 20px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-item {
  margin: 0 15px;
  font-size: 18px;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

.navbar-item a:hover {
  font-weight: bold;
  color: yellow;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-container {
    overflow-x: hidden;

  }

  .navbar-list {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    z-index: 9;
    justify-content: center;
    align-items: center;
    
  }

  .navbar-list.open {
    display: flex;

  }

  .navbar-item {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: white;
    
  }

  .close-btn:hover {
    color: yellow;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/home/home.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.mainContainer{
    justify-content: center;
    background-color: black;
    /* height: 100vh; */
}
.header{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: black;
    height: 15vh;
    padding: 3vh;
}
img{
    width: 90vw;
    object-fit: fill;
}
/* 
.EcodeGif {
    overflow: auto;
} */

