@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');

.mainContainer{
    justify-content: center;
}
.header{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: black;
}
img{
    width: 100vw;
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    color: #ffe656;
    background-color: black;
    padding-bottom: 5px;
}
