.mainContainer{
    justify-content: center;
    background-color: black;
    /* height: 100vh; */
}
.header{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: black;
    height: 15vh;
    padding: 3vh;
}
img{
    width: 90vw;
    object-fit: fill;
}
/* 
.EcodeGif {
    overflow: auto;
} */
